.row{
    max-width: 114rem;
    margin: 0 auto;
    color: black;
    display: flex;
    &:not(:last-child){
        margin-bottom: $gutter-vertical;
    }
    .col-1-of-2{
        margin-top: 2rem;
        width: 100%;
        background-color:$color-grey-light;
        float: left;
        &:not(:last-child){
            margin-right: $gutter-horizontal;
        }
        
    }
    .col-1-of-4{
        margin-top: 1rem;
        width: 20%;
        float: left;
        &:not(:last-child){
            margin-right: 5%;
        }
        &:first-child{
            margin-left: 2rem;
        }
        @include respond(tab-port){
            width: 100% !important;
        }

    }
    .col-1-of-3{
        margin-top: 5rem;
        width: 25%;
        float: left;
        &:not(:last-child){
            margin-right: 7.5%;
        }
        margin-bottom: 6rem;
        @include respond(tab-port){
            width: 100% !important;
        }
 }


}
