.bg-video{
    position: absolute;
    top:0;
    left:0;
    height: 100%;
    width: 100%;
    z-index: -1;
    filter: blur(3px);
    opacity: 80%;
    &-content{
        height: 100%;
        width: 100%;
        object-fit: cover;
        overflow: hidden;
    }
}